@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: rgb(255, 245, 232);
}

.app {
  margin: 30px 70px;
  font-family: "Poppins", sans-serif;
}

.head-name {
  font-size: xx-large;
  margin: 0;
  padding-left: 1rem;
  font-weight: 400;
  color: red;
}

.recipes {
  position: relative;
  padding-left: 1rem;
  font-size: xx-large;
  font-weight: 200;
  color: red;
  font-family: "Cedarville Cursive", sans-serif;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 10px;
}

.recipes-card {
  position: relative;
  height: 300px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  perspective: 1000px;
}

.recipes-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.recipes-card:hover .recipes-card-inner {
  transform: rotateY(180deg);
}

.recipes-card-front,
.recipes-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.recipes-card-front {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.recipes-card-back {
  background-color: rgba(209, 209, 209, 0.8);
  transform: rotateY(180deg);
}

.recipes-img {
  width: auto;
  height: 100%;
  display: block;
}

.recipes-name {
  position: absolute;
  text-align: left;
  bottom: 10px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  padding: 5px 10px;
}

.recipes-desc {
  position: absolute;
  text-align: left;
  bottom: 0px;
  color: white;
  font-size: 10px;
  font-weight: 200;
  padding: 6px 10px;
}

.order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ff6347;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  padding: 1rem;
  background-color: white;
  border: solid 1px #ff6347;
  border-radius: 5px;
}
